.bg-div {
    background: linear-gradient(30deg, rgba(20, 20, 20, 1), rgba(17, 17, 17, 0.75));
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: block;
    backdrop-filter: blur(5px);
}
