body{
    background-image: url("./assets/bg.png");
    image-orientation: flip;
    background-repeat:repeat-y;
    background-size: cover;
    display: grid;
    place-items: center center;
    align-items: center;
    height: 90vh;
}